* {
    font-family: 'Times New Roman';
}

body {
    margin: 0;
}

.laugh-button {
    position: absolute;
    bottom: 7vh;
    left: 0;
    right: 0;
    border: none;
    background: none;
    text-align: center;
    font-size: 6vh;
    cursor: pointer;
    user-select: none;

}

.laugh-button:focus {
    outline:0;
}

.laugh-button:active {
    color: #00fff7;
    cursor: help;
}

.responsive-canvas {
    display: block;
    height: 60vh;
    margin: 20vh auto;
}



@media (max-width: 600px) {
    .laugh-button {
        position: absolute;
        bottom: 14vh;
    }

    .responsive-canvas {
        height: 30vh;
        margin: 35vh auto;
    }
}